<h1>Edit Student</h1>
<%= render partial: "form", locals: { student: @student } %>
<p>
  <%= link_to "Delete", @student, method: :delete, data: { confirm: "Are you sure you want to delete this student?" } %>
</p>